body {
    background-color: #eeffee;  
}

body > header > h1 {
    padding: 20px;
    margin: 10px;
    color: blueviolet;
    filter: drop-shadow(6px 6px 5px #99999999);
}

article {
    background-color: cadetblue;
}

article article {
    background-color: white;
}


a[aria-current] {
    font-weight: bold;
}